/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Eric Meyer CSS Reset */
/* My CSS */
@font-face {
    font-family: 'pathway-gothic';
    src: url('../fonts/PathwayGothicOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: grey;
    line-height: 25px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 99.5%;               
    height: 1px;
}

button {
    font-family: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.yt-font {
    font-family: 'pathway-gothic';
    color: white;
    font-size: 20px;
}

#yt-btn > img,
#yt-btn > span {
    vertical-align: middle;
    margin: 1px;
}

#yt-search-btn > img {
    vertical-align: middle;
}

.subscribe-btn {
    height: 25px;
}

.align-flex-start {
    align-items: flex-start;
}

.align-flex-end {
    align-items: flex-end;
}

.justify-flex-end {
    justify-content: flex-end;
}

.big-btn {
    font-size: 10px;
    font-weight: 550;
    border-radius: 0;
    padding: 5px 10px;
}

.primary-bg-color {
    background-color: rgba(24,24,24,255);
}

.secondary-bg-color {
    background-color: rgba(50,50,50,255);
}

.alt-bg-color {
    background-color:rgba(155, 155, 155, 0.2);
}

.inline-block-image {
    display: inline-block;
}

.rounded {
    border-radius: 50%;
}

.flip-horizontal {
    transform: scale(-1, 1);
}

#main {
    display: flex;
    width: 100%;
}

#current-video {
    width: 70%;
}

#other-videos {
    width: 30%;
}

input {
    background-color: transparent;
    color: white;
}

:link {
    color: rgba(57,150,231,255);
}

.main {
    display: flex;
}

.search-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    height:20px;
    width: 450px;
    align-items: center;
    justify-content: center;
}

.searchbox {
    width: 90%;
}

.no-border {
    border: none;
}

.full-width {
    width: 100%;
}

.search-btn {
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    height: 100%;
    border-radius: 0;
}

.no-text-decoration {
    text-decoration: none;
}

.yt-color {
    background-color: rgba(204,0,0,255);
}

.bunched {
    line-height: 11px;
    margin-top: 10px;
}

.text-extra-large {
    font-size: 15px;
}

.text-large {
    font-size: 12px;
}

.text-small {
    font-size: 8px;
}

.alt-color {
    color: white;
}

.highlighted-text {
    color: rgba(57,150,231,255);
}

.highlighted-color {
    background-color: rgba(57,150,231,255);
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(32,32,32,255);
    height: 40px;
}

.nav-item {
    margin-top: 10px;
}

.col {
    display: flex;
    flex-direction: row;
}

.col-2 {
    width: 50%;
}

.icon {
    height: 18px;
    margin: 0 10px;
}

.icon-small {
    height: 15px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.push-apart {
    justify-content: space-between;
}

.comment {
    display: block;
}

.flex-grow {
    flex-grow: 1;
}

.top-margin {
    margin-top: 10px;
}