/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Eric Meyer CSS Reset */
/* My CSS */
body {
    background-color: rgba(24,24,24,255);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: grey;
    line-height: 25px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 99.5%;               
    background-color:darkgray;
    height: 1px;
}

.bunched {
    line-height: 11px;
    margin-top: 10px;
}

.text-extra-large {
    font-size: 15px;
}

.text-large {
    font-size: 12px;
}

.text-small {
    font-size: 8px;
}

.alt-color {
    color: white;
}

.highlighted-color {
    color: rgba(57,150,231,255)
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(32,32,32,255);
}
.col {
    /* margin: 0 25px; */
    display: flex;
    flex-direction: row;
}

.profile-pic {
    border-radius: 50%;
    float: left;
}
.icon {
    height: 25px;
    margin: 0 10px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}